.full-width-image {
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    color: #fff;
    padding: 10px;
}

.text-overlay .text {
    font-size: 60px; 
    margin: 0;
}
